{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="p-5 bg-white rounded shadow text-center">

      <h1 class="mb-3">Sistema de Orçamentos</h1>

<p class="lead">
  Crie orçamentos para seus clientes de forma simples,
  rápida e organizada.
</p>

<p>
  Cadastre seus clientes, adicione serviços ou produtos
  e gere orçamentos com poucos cliques.
</p>

<ul class="list-group list-group-flush text-start mt-4">
  <li class="list-group-item">✔ Cadastro de clientes</li>
  <li class="list-group-item">✔ Cadastro de serviços e produtos</li>
  <li class="list-group-item">✔ Criação de orçamentos</li>
  <li class="list-group-item">✔ Cálculo automático de valores</li>
</ul>

        </a>
      </div>

    </div>
  </div>
</div>
{% endblock %}
